body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-color: darkcyan;
    position: relative;
}

header{
    height: 15%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.left{
    width: 20%; 
    height: 100%;
    background-color: tomato;
}

.mid{
    width: 60%;
    height: 100%;
    background-color: grey;
}

.right{
    width: 20%;
    height: 100%;
    background-color: tomato;
}

.main{
    height: 84%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.col{
    height: 40%;
    width: 40%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: olive;
    box-shadow: 0 0 20px 0;
    border-radius: 10%;
}


span{
    color: white;
    font-size: 50px;
    font-weight: bold;
}

table{
    width: 60%;
}

.cat{
    font-size: 40px;
    background-color: black;
    color: white; 
}

table tr td{
    text-align: center;
    background-color: white;
}

table tr td a{
   text-decoration: none;
   color: black;
}