body{
    margin: 0;
    height: 100vh;
    width: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    height: 60%;
    width: 60%;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;    
}

.col{
    width: 50%;
    height: 100%;
}

.photo{
    height: 50%;
}